# ---------------------------------------
# Logs
# ---------------------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# ---------------------------------------
# Runtime data
# ---------------------------------------
pids
*.pid
*.seed
*.pid.lock

# ---------------------------------------
# Coverage / testing
# ---------------------------------------
lib-cov
coverage
*.lcov
.nyc_output

# ---------------------------------------
# Dependency directories
# ---------------------------------------
node_modules/
dist/

# ---------------------------------------
# Assets (uploads temporales)
# ---------------------------------------
assets/uploads/*
!assets/uploads/.gitkeep
data/

# ---------------------------------------
# TypeScript cache
# ---------------------------------------
*.tsbuildinfo

# ---------------------------------------
# npm cache (opcional)
# ---------------------------------------
.npm

# ---------------------------------------
# Firebase (si lo usás)
# ---------------------------------------
firebase-admin-key.json

# ---------------------------------------
# ESLint y Stylelint cache
# ---------------------------------------
.eslintcache
.stylelintcache

# ---------------------------------------
# REPL history
# ---------------------------------------
.node_repl_history

# ---------------------------------------
# npm pack output
# ---------------------------------------
*.tgz

# ---------------------------------------
# dotenv environment variable files
# ---------------------------------------
.env
.env.*
!.env.example
# ---------------------------------------
# VSCode (opcional)
# ---------------------------------------
.vscode-test
